*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-weight: 300;
  font-display: swap;
}

.app{
  background-color: #611f1f;
  min-height: 100vh;
  margin: 0 auto;
  /* border: 1px solid white; */
  display: flex;
  justify-content: center;
}

/* Play Button & Logo */
.play-box{
  margin: 10%;
  display: flex;
  flex-direction: column;
}

/* Playing Screen */
.playing-box{
  display:flex;
  flex-direction: column;
  margin-top: 7%;
  gap: 40px;
}

.button{
  padding: 5px;
  background-color: #0e1136;
  border: none;
  color: rgb(224, 199, 199);
  border-radius: 5px;
  box-shadow: 0px 0px 11px 0px rgba(0,0,0,0.37);
  transition: 0.3s;
}

.button:hover{
  background-color: #292d5f;
  transform: scale(1.1);
}

.button:focus{
  background-color: #0e1136;
  transform: scale(1);
}


.letter-line-parent{
  display:flex
}


.letter-line{
  border-left: 50px solid green;
  height: 5px;
  margin: 5px;
}

/* Hangman Pieces */

.leg, .arm{
  width: 112px;
  height: 47px;
  border-bottom: 2px solid red;
  transform: translateY(-20px) translateX(5px) rotate(110deg);
}

.leg2, .arm2{
  width: 112px;
  height: 47px;
  border-bottom: 2px solid red;
  transform: translateY(-20px) translateX(5px) rotate(70deg);
}

.torso{
  border-left: 6px solid red;
  height: 150px;
}

.head{
  height: 25px;
  width: 25px;
  background-color: red;
  border-radius: 50%;
}